

.espacioSup{
    height: 78px;
    background-color: transparent;
}

.cont{
    height: 522px;
    /* background-color: aqua; */
    background-image: url('https://images.unsplash.com/photo-1618477202872-89cec6f8d62e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h2{
    font-size: calc(1em + 2vw);
}

.tarjetaAbout{
    padding: 20px;
    margin-top: 30px;
    height: fit-content;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    animation-name: example;
    animation-duration: 1s;
    color: black;
    /* font-size: 22px; */
    font-size: calc(1em + 1vw);
    line-height : 20px;
    font-weight: 600;
}

.tarjetaAbout a{
    font-size: 60px;
    color:rgba(17, 40, 71, 0.89);
    text-shadow: white 5px 5px 5px;
}

@keyframes example {
    0%   {width: 10%; color: transparent; height: 70%}
    /* 25%  {width: 20%;color: transparent;}
    50%  {width: 40%;color: transparent;} */
    50%  {width: 50%;color: transparent; height: 70%}
    100% {width: 60%; color: black;}
  }


  @media (max-width: 650px) {
      .cont{
          height: fit-content;
          padding-bottom: 25px;
      }
  }